.section-01 {
  img {
    position: absolute;
  }

  img.bg {
    position: relative;
    width: 100%;
    z-index: 0;
  }

  img.cloud-1 {
    width: 130%;
    top: 3rem;
    left: -5%;
    z-index: 2;
  }
  
  img.cloud-2 {
    width: 110%;
    top: 7rem;
    left: -5%;
    z-index: 4;
  }

  img.sun {
    width: 55%;
    top: 2.5rem;
    right: 5%;
    z-index: 3;
  }

  img.store {
    width: 60%;
    top: 40%;
    left: 0;
    z-index: 1;
  }

  img.road {
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  img.man {
    width: 35%;
    bottom: 15%;
    right: 0.3rem;
    z-index: 2;
  }

  .text-wrapper {
    position: absolute;
    left: 1%;
    bottom: 30%;
    width: 60%;
    z-index: 998;
  }
}