<div class="section section-06">
  <!-- 背景图层 -->
  <img class="bg" [src]="imgUrl.background">
  <!-- 路 -->
  <img class="road" [src]="imgUrl.road">
  <!-- 吊灯 -->
  <img class="light light-1 animated" [src]="imgUrl.light_1"
    data-ani-name="bounceIn"
    data-ani-duration="1s"
    data-ani-delay="1s">
  <img class="light light-2 animated" [src]="imgUrl.light_2"
    data-ani-name="bounceIn"
    data-ani-duration="1s"
    data-ani-delay="1.5s">
  <!-- 柜子 -->
  <img class="chest-1 animated" [src]="imgUrl.chest_1"
    data-ani-name="bounceInDown"
    data-ani-duration="1s">
  <img class="chest-2 animated" [src]="imgUrl.chest_2"
    data-ani-name="fadeInLeft"
    data-ani-duration="1s"
    data-ani-delay="0.5s">
  <!-- 钟 -->
  <img class="clock animated" [src]="imgUrl.clock"
    data-ani-name="bounceIn"
    data-ani-duration="1s"
    data-ani-delay="1s">
  <!-- 餐桌 -->
  <img class="seat animated" [src]="imgUrl.seat"
    data-ani-name="bounceInDown"
    data-ani-duration="1s"
    data-ani-delay="0.5s">
  <!-- 厨房 -->
  <img class="kitchen animated" [src]="imgUrl.kitchen"
    data-ani-name="fadeInRight"
    data-ani-duration="1s">
  <!-- 狗 -->
  <img class="dog animated" [src]="imgUrl.dog"
    data-ani-name="lightSpeedIn"
    data-ani-duration="1s"
    data-ani-delay="1.5s">
  <!-- 袋子 -->
  <img class="bag animated" [src]="imgUrl.bag"
    data-ani-name="bounceInDown"
    data-ani-duration="1s"
    data-ani-delay="1.2s">
  <!-- 地毯 -->
  <img class="rect" [src]="imgUrl.rect">
  <!-- 文案 -->
  <typing-box class="text-wrapper text-wrapper-1"
    [text]="'这一年\n你还在承担所有伙伴的生计'">
  </typing-box>
  <typing-box class="text-wrapper text-wrapper-2"
    [text]="'这一年\n你仍保护着家人的富足安逸'">
  </typing-box>
  <typing-box class="text-wrapper text-wrapper-3"
    [text]="'你供孩子上了当地最好的学校'">
  </typing-box>
</div>