.share-page {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  img {
    position: absolute;
  }

  img.bg {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 0;
  }

  img.film-1 {
    width: 140vw;
    top: -5vh;
    right: -8vw;
    z-index: 1;
  }

  img.film-2 {
    width: 140vw;
    top: 25vh;
    right: -18vw;
    z-index: 2;
  }

  .data-wrapper {
    position: absolute;
    width: 100vw;
    top: 8vh;
    bottom: 0;
    z-index: 3;

    .rect {
      left: 1vw;
      top: 0;
      z-index: 1;
      width: 90%;
    }
    .paper {
      width: 80%;
      left: 5vw;
      top: 2rem;
      z-index: 2;
    }
    .cover {
      width: 90vw;
      left: 0;
      top: 65vh;
      z-index: 3;
    }
    .data {
      position: absolute;
      left: 5vw;
      right: 12vw;
      top: 10vh;
      bottom: 0;
      z-index: 4;
      padding: 0.5rem 2.2rem 0.5rem 1.6rem;
      text-align: center;
      
      h2 {
        font-size: 1.2rem;
        margin: 1rem 0;
        font-weight: bold;
      }
      p {
        margin: 0.8rem 0;
        font-size: 0.75rem;
        padding: 0;

        strong {
          font-size: 110%;
          &.hl {
            color: darkred;
          }
        }
      }
    }
  }


  img.satellite {
    width: 25vw;
    top: 3vh;
    left: 2vw;
    z-index: 1;
  }

  img.sun {
    width: 40vw;
    top: 6vh;
    right: -3vw;
    z-index: 5;
  }

  img.girl {
    width: 50vw;
    top: 75vh;
    right: -8vw;
    z-index: 6;
  }

  img.demention {
    bottom: 3vh;
    left: 3vw;
    z-index: 9;
    width: 35vw;
  }

  button.share-btn {
    position: absolute;
    bottom: 3vh;
    left: 35vw;
    width: 30vw;
    border: none;
    border-radius: 0.4rem;
    height: 2rem;
    line-height: 2rem;
    background-color: #297c59;
    color: #fff;
    font-weight: bold;
    z-index: 10;
    outline: none;
  }

  img.mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    width: 100vw;
  }

  // 登录页
  .login {
    position: fixed;
    top: -100vh;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2008;
    height: 200vh;
    background: #fff;
    text-align: center;

    .back-btn {
      display: inline-block;
      position: absolute;
      top: 103vh;
      right: 1rem;
      animation: _show 2s linear infinite alternate;
      text-decoration: none;

      .back-tips {
        color: #666;
        font-size: 12px;
        padding: 3px 0;
      }
    }

    @keyframes _show {
      from { opacity: 1; }
      to { opacity: 0.5; }
    }
  
    .logo {
      display: block;
      position: absolute;
      top: 110vh;
      left: 30vw;
      width: 40vw;
      img {
        position: static;
      }
    }
  
    .login-form {
      position: absolute;
      top: 128vh;
      left: 50%;
      width: 70vw;
      margin-left: -35vw;
  
      .login-1,
      .login-2 {
        display: block;
        position: relative;
  
        input {
          display: block;
          width: 100%;
          height: 3rem;
          border: 1px solid #333;
          border-radius: 1.5rem;
          outline: none;
          font-size: 0.85rem;
          padding-left: 3rem;
          padding-right: 1rem;
          box-sizing: border-box;
          margin-bottom: 0.6rem;
        }
  
        .icon {
          display: inline-block;
          position: absolute;
          left: 1rem;
          top: 0.6rem;
          width: 1.5rem;
          height: 1.5rem;
          transition: all 0.3s
        }
      }
  
      .icon-account {
        background: url('/assets/images/nianzhong/common/login_account.png') no-repeat;
        background-size: contain;
      }
      .login-1 input:focus ~ .icon-account {
        background: url('/assets/images/nianzhong/common/login_account_active.png') no-repeat;
        background-size: contain;
      }
  
      .icon-password {
        background: url('/assets/images/nianzhong/common/login_pwd.png') no-repeat;
        background-size: contain;
      }
      .login-2 input:focus ~ .icon-password {
        background: url('/assets/images/nianzhong/common/login_pwd_active.png') no-repeat;
        background-size: contain;
      }
  
      .error {
        input {
          border-color: #dc3545;
        }
      }
  
      .login-btn {
        display: inline-block;
        width: 100%;
        margin-top: 3rem;
        text-align: center;
  
        input {
          width: 98%;
          height: 2.8rem;
          line-height: 2.8rem;
          border-radius: 1.4rem;
          font-size: 1rem;
          color: #fff;
          background-color: #4db1f1;
          border: none;
          outline: none;
  
          &:active {
            background-color: #068ae4;
          }
        }
      }

      .err-msg {
        position: absolute;
        left: 0;
        right: 0;
        font-size: 0.8rem;
        color: #17a2b8;
        &.error {
          color: #dc3545;
        }
      }

      .pic {
        margin-top: 3.5rem;

        .kf,
        .gzh {
          display: inline-block;
          width: 50%;
          text-align: center;
          box-sizing: border-box;

          img {
            position: static;
            width: 25vw;
            height: 25vw;
          }

          div {
            color: #666;
            margin-bottom: 0.25rem;
          }
        }
        .kf {
          border-right: 1px solid #eee;
        }
      }
    }
  
  }
}