.section-02 {
  img {
    position: absolute;
  }

  img.bg {
    position: relative;
    width: 100%;
    z-index: 0;
  }

  img.grass {
    width: 110%;
    left: 0;
    top: -13%;
    z-index: 2;
  }

  img.paper {
    width: 105%;
    top: 2%;
    left: 0;
    z-index: 0;
  }

  img.man {
    width: 26%;
    top: 15%;
    left: 36%;
    z-index: 1;
  }

  img.girl {
    width: 40%;
    top: 24%;
    left: 57%;
    z-index: 2;
  }

  img.pc {
    width: 25%;
    top: 30%;
    left: 38%;
    z-index: 3;
  }

  img.store {
    width: 75%;
    top: 37%;
    right: 0;
    z-index: 4;
  }

  img.rect {
    width: 85%;
    right: 0;
    bottom: 15%;
  }

  img.building {
    width: 100%;
    bottom: 5%;
    left: 0;
    z-index: 2;
  }

  .dog,
  .monney {
    position: absolute;
    width: 15%;
    right: 15%;
    bottom: 1%;
    z-index: 4;
  }
  .monney {
    width: 23%;
    right: 5%;
    z-index: 3;
  }

  .m1, .m2 {
    position: absolute;
    width: 3rem;
  }
  .m1 {
    left: 8%;
    bottom: 18%;
    z-index: 3;
  }
  .m2 {
    left: 18%;
    bottom: 15%;
    z-index: 2;
  }

  .up {
    position: absolute;
    width: 15%;
    bottom: 20%;
    right: 15%;
    z-index: 2;
  }

  img.road {
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 5;
  }

  .text-wrapper {
    position: absolute;
    // bottom: 1%;
    left: 3%;
    z-index: 998;
    // width: 12rem;
  }

  .text-wrapper-1 {
    width: 70%;
    top: 10%;
  }
  .text-wrapper-2 {
    width: 60%;
    bottom: 35%;
  }
}