<div class="section section-02">
  <!-- 背景图层 -->
  <img class="bg" [src]="imgUrl.background">
  <!-- 草 -->
  <img class="grass animated" [src]="imgUrl.grass"
  data-ani-name="fadeInUp"
  data-ani-duration="0.5s">
  <!-- 网上商城 -->
  <img class="paper animated" [src]="imgUrl.paper"
    data-ani-name="zoomIn"
    data-ani-duration="0.3s">
  <!-- 人 -->
  <img class="man animated" [src]="imgUrl.man"
    data-ani-name="rotateInUpRight"
    data-ani-duration="0.5s"
    data-ani-delay="1s">
  <img class="girl animated" [src]="imgUrl.girl"
    data-ani-name="rotateInUpLeft"
    data-ani-duration="0.5s"
    data-ani-delay="0.5s">
  <!-- 电脑 -->
  <img class="pc animated" [src]="imgUrl.pc"
    data-ani-name="fadeInLeft"
    data-ani-duration="0.5s"
    data-ani-delay="0.8s">
  <!-- 商店 -->
  <img class="store animated" [src]="imgUrl.store"
    data-ani-name="zoomIn"
    data-ani-duration="0.5s">
  <!-- 建筑 -->
  <img class="building animated" [src]="imgUrl.building"
    data-ani-name="flipInX"
    data-ani-duration="0.5s">
  <!-- 矩形 -->
  <img class="rect animated" [src]="imgUrl.rect"
    data-ani-name="zoomIn"
    data-ani-duration="0.5s">
  <!-- 狗与钱袋 -->
  <img class="dog animated" [src]="imgUrl.dog"
    data-ani-name="bounceInRight"
    data-ani-duration="1.5s">
  <img class="monney animated" [src]="imgUrl.monney"
    data-ani-name="bounceInRight"
    data-ani-duration="1.5s">
  <!-- 钱币 -->
  <img class="m1 animated" [src]="imgUrl.m1"
    data-ani-name="bounceInDown"
    data-ani-duration="0.5s"
    data-ani-duration="1.2s">
  <img class="m2 animated" [src]="imgUrl.m2"
    data-ani-name="bounceInDown"
    data-ani-duration="0.5s"
    data-ani-duration="1.5s">
  <!-- 箭头 -->
  <img class="up animated" [src]="imgUrl.up"
    data-ani-name="zoomInUp"
    data-ani-duration="0.5s"
    data-ani-duration="1.5s">
  <!-- 路 -->
  <img class="road" [src]="imgUrl.road">
  <!-- 文案 -->
  <typing-box class="text-wrapper text-wrapper-1"
    [text]="'这一年，新生消费群壮大'">
  </typing-box>
  <typing-box class="text-wrapper text-wrapper-2"
    [text]="'门店客流量减少'">
  </typing-box>
  </div>