<div class="section section-03">
  <!-- 背景图层 -->
  <img class="bg" [src]="imgUrl.background">
  <!-- 地毯 -->
  <img class="grid animated" [src]="imgUrl.grid"
    data-ani-name="fadeIn"
    data-ani-duration="0.5s">
  <!-- 人 -->
  <img class="people animated" [src]="imgUrl.people"
    data-ani-name="fadeInRight"
    data-ani-duration="0.5s">
  <!-- 符号 -->
  <img class="other animated" [src]="imgUrl.other"
    data-ani-name="zoomIn"
    data-ani-duration="0.5s"
    data-ani-delay="0.5s">
  <!-- 标语 -->
  <img class="tips animated" [src]="imgUrl.tips"
    data-ani-name="fadeInLeft"
    data-ani-duration="0.5s">
  <!-- 书桌 -->
  <img class="desk animated" [src]="imgUrl.desk"
    data-ani-name="bounceInDown"
    data-ani-duration="0.5s"
    data-ani-delay="0.8s">
  <!-- 男人 -->
  <img class="man animated" [src]="imgUrl.man"
    data-ani-name="rotateInUpRight"
    data-ani-duration="0.5s"
    data-ani-delay="0.5s">
  <!-- 电脑 -->
  <img class="computer animated" [src]="imgUrl.computer"
    data-ani-name="bounceInDown"
    data-ani-duration="0.5s"
    data-ani-delay="1.2s">
  <!-- 台灯 -->
  <img class="light animated" [src]="imgUrl.light"
    data-ani-name="bounceInDown"
    data-ani-duration="0.5s"
    data-ani-delay="1s">
  <!-- 船 -->
  <img class="boat animated" [src]="imgUrl.boat"
    data-ani-name="bounceInUp"
    data-ani-duration="0.5s"
    data-ani-delay="1.5s">
  <!-- 路 -->
  <img class="road" [src]="imgUrl.road">
  <!-- 文案 -->
  <typing-box class="text-wrapper text-wrapper-1"
    [text]="'同一条街的店关了5家\n你也想过了最坏的可能'">
  </typing-box>
  <typing-box class="text-wrapper text-wrapper-2"
    [text]="'这一年，你更累了...'">
  </typing-box>
</div>